<section class="container">
    <header class="dashboard">Welcome to your Dashboard, {{user.username}}</header>
    
    <h2>All Your Posts:</h2>
<section class="flex-row justify-center">
    {{#each user.posts as |post|}}
    {{> dashboard_post_details}}
    {{/each}}
</section>
  <section class="flex-row justify-center">
    <a href="/dashboard_comments"><h2>View All Your Comments</h2></a>
  </section>
</section>

<script src="./js/post.js"></script>
