<section class="container">
  <header class="dashboard">Welcome to your Dashboard, {{user.username}}</header>
    
  <h2>All Your Comments:</h2>
  <section class="flex-row justify-center">
    {{#each user.comments as |comment|}}
    {{> dashboard_comment_details}}
    {{/each}}
  </section>
  <section class="flex-row justify-center">
    <a href="/dashboard_posts"><h2>View All Your Posts</h2></a>
  </section>
</section>

<script src="./js/comment.js"></script>
