<section class="container">
    <header class="dashboard">Welcome to your Dashboard, {{user.username}}</header>
    
<section class="flex-row justify-center">
    <section class="login-card">
    <a href="/dashboard_posts"><h2>View All Your Posts</h2></a>
    </section>
    <section class="login-card">
    <a href="/dashboard_comments"><h2>View All Your Comments</h2></a>
    </section>
    <a href="/new_post"><h2><button class="btn btn-primary">New Post +</button></h2></a>
</section>
</section>