<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Edit Post</h2>
    <form class="form new-post-form">
      <div class="form-group">
        <label for="title">Title:</label>
        <input class="form-input" type="text" id="title" value="{{post.title}}"/>
      </div>
      <div class="form-group">
        <label for="content">Content:</label>
        <input class="form-input" type="text" id="content" value="{{post.content}}"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary edit-post" type="submit">Edit</button>
      </div>
    </form>
  </div>
</div>

<script src="../js/post.js"></script>